@import "./helpers/reset";
@import "./helpers/variable";
@import "./layouts/dashboard";



@import "./layouts/login";
.test{
 text-align: center;
 background-color: black;
 height: 100vh;
 color: white;
}